body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#expense-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #727272;
}

#quantity-input,
#price-input {
    width: calc(50% - 12px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#add-expense-button,
#reset-expenses-button {
    background-color: #0000FF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

#reset-expenses-button:hover {
    background-color: #637bff;
}

#add-expense-button:hover {
    background-color: #637bff;
}

#expense-list {
    list-style-type: none;
    padding: 0;
}

.expense-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

#total-amount {
    font-weight: bold;
    margin-top: 10px;
}
